* {
  box-sizing: border-box;
}

body {
  padding-top: 5rem;
}

@media screen and (max-width: 768px) {
  .header-title {
    display: none;
  }
}

input:-webkit-autofill {
  transition: all 0s 50000s;
}
